
.container  {
    display:flex;   
    align-items: center;
    flex-flow: column wrap;  
}

#box{
    width: 20%;
    height: 10%;
    flex-flow: row wrap;
    background-color:rgb(218, 68, 68) ;
    border: 2px solid rgb(196, 9, 9) ;
    margin: 10px;
   
}

#button{

    width: 10%;
    height: 10%;
    background-color: rgba(228, 228, 17, 0.945);
    border: 2px solid rgba(228, 228, 17, 0.945);
}

p{
    font-weight: 100;
    font-size: 20px;
}

img{

    width: 10%;
   
}
